<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
</head>
<body>
    <div style=" margin-left: 450px; margin-top: 180px; border: 1px solid; width: 600px; height: 300px; ">
        <div style="margin-left: 180px; margin-top: 30px;">
            <button><a href="/prime" style="text-decoration: none;">Prime</a></button>
            <button><a href="/fibo" style="text-decoration: none;">Fibbo</a></button>
            <button><a href="/even" style="text-decoration: none;">Even</a></button>
            <button><a href="/random" style="text-decoration: none;">Random</a></button>
        </div>
        <div style="margin-left: 100px; margin-top: 30px;">
            <p>The Required Output: <%=x%></p>
        </div>
    </div>
</body>
</html>
